<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{item.my_items.title}"></title>
</head>
<body>
<th:block layout:fragment="body">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 th:text="#{item.my_items.title}"></h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-striped projects table-responsive-md">
                    <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                        colspan="1"
                                        aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending"
                                        th:text="#{item.index.label.id}"
                                    >
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                        colspan="1"
                                        aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending"
                                        th:text="#{item.index.label.name}"
                                    >
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                        colspan="1"
                                        aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending"
                                        th:text="#{item.index.label.category}"
                                    >
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                        colspan="1"
                                        aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending"
                                        th:text="#{item.index.label.quantity}"
                                    >
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                        <tbody>
                            <tr th:each="item: ${items}" role="row" class="odd">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.category.name}"></td>
                                <td th:text="${item.quantity}">
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" th:href="@{'/item/{item}'(item=${item.id})}">
                                        <i class="fas fa-folder"></i>
                                        <span th:text="#{list.button.show}"></span>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm delete-button" th:href="@{'/item/my-items/{item}/delete'(item=${item.id})}">
                                        <i class="fas fa-trash"></i>
                                        <span th:text="#{list.button.delete}"></span>
                                    </a>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer" th:replace="_fragments/pagination :: pagination(route='/item/my-items', pagination=${pagination})">

            </div>
        </div>
    </section>
</th:block>
</body>
</html>