<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{store.index.title}"></title>
</head>
<body>
<th:block layout:fragment="body">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 th:text="#{store.index.title}"></h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="card">
            <form th:action="@{(${store.id} == null ? '/store/add' : '/store/{store}/edit' )(store=${store.id})}" th:object="${store}" method="post">
            <div class="card-body">
                <div class="form-group row">
                    <label for="store-name" class="col-sm-2 col-form-label" th:text="#{store.edit.label.name}"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="store-name" th:field="*{name}" required="required" th:classappend="${#fields.hasErrors('name')} ? is-invalid">
                        <small th:replace="_fragments/input_error :: input_error(field='name')"></small>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a th:href="@{/store}" class="btn btn-secondary" th:text="#{edit.button.cancel}"></a>
                <button type="submit" value="Create new Porject" class="btn btn-success float-right" th:text="#{edit.button.save}"></button>
            </div>
            </form>
        </div>
    </section>
</th:block>
</body>
</html>