<div
        xmlns:th="https://www.thymeleaf.org" class="modal-content"
>
    <div class="modal-header">
        <h5 class="modal-title" th:text="#{security.login.forgot_password}"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form th:action="@{/login/forgot-password}" method="POST" id="forgot-password-form" th:object="${forgotPasswordForm}">
        <div class="modal-body">
            <div th:if="${success != null}" th:text="#{${success}}"class="alert alert-success" id="modal-alert-success" role="alert"></div>
            <div th:if="${error != null}" th:text="#{${error}}" class="alert alert-danger" id="modal-alert-error" role="alert"></div>
            <div class="form-group">
                <label for="email" class="sr-only" th:text="#{security.login.email}"></label>
                <input type="email" th:field="*{email}" id="email" class="form-control" th:placeholder="#{security.login.placeholder.email}" required="required">
                <small th:replace="_fragments/input_error :: input_error(field='email')"></small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="modal-send-button" th:text="#{security.login.button.send}"></button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{security.login.button.cancel}"></button>
        </div>
    </form>
</div>