<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{security/login}"
>
<head>
    <title>Create Password</title>
</head>
<th:block layout:fragment="body">
    <div class="text-center">
        <form class="form-signin" th:action="@{/login/create-password}" th:object="${resetPasswordForm}" method="post">
            <p th:text="#{security.reset_password.title}"></p>
            <div class="form-group">
                <label for="email" class="sr-only" th:text="#{security.login.email}">Email</label>
                <input type="email" th:field="*{email}" id="email" class="form-control" th:placeholder="#{security.login.email}" required="required">
                <small th:text="#{com.jperat.babylist.constraints.Password.message}"></small>
                <small th:replace="_fragments/input_error :: input_error(field='email')"></small>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only" th:text="#{security.login.password}">Password</label>
                <input type="password" th:field="*{password}" id="password" class="form-control" th:placeholder="#{security.login.password}" required="required">
                <small th:replace="_fragments/input_error :: input_error(field='password')"></small>
            </div>
            <div class="form-group">
                <label for="repeatedPassword" class="sr-only" th:text="#{security.login.repeat_password}">Repeat Password</label>
                <input type="password" th:field="*{repeatedPassword}" id="repeatedPassword" class="form-control" th:placeholder="#{security.login.repeat_password}" required="required">
                <small th:replace="_fragments/input_error :: input_error(field='repeatedPassword')"></small>
            </div>
            <input type="hidden" th:field="*{token}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        </form>
    </div>
</th:block>
</html>